apiVersion: v1
kind: Secret
metadata:
  name: moviebooking-secrets
type: Opaque
stringData:
  CLERK_SECRET_KEY: "your_clerk_secret_key_here"
  INNGEST_EVENT_KEY: "your_inngest_event_key_here"
  INNGEST_SIGNING_KEY: "your_inngest_signing_key_here"
  STRIPE_PUBLISHABLE_KEY: "your_stripe_publishable_key_here"
  STRIPE_SECRET_KEY: "your_stripe_secret_key_here"
  STRIPE_WEBHOOK_SECRET: "your_stripe_webhook_secret_here"
  MONGODB_URL: "your_mongodb_connection_string_here"
